<header class="h-[80px] w-full bg-teal-600 flex items-center">
  <div class="container flex items-center justify-between">
    <a routerLink="/home"><h1>Project1</h1></a>
    <ul class="w-[300px] flex justify-between items-center">
      <li><a routerLink="/home" class="hover:text-blue-300">Home</a></li>
      <li><a routerLink="/about" class="hover:text-blue-300">About</a></li>
      <li><a routerLink="/contact" class="hover:text-blue-300">Contact</a></li>
    </ul>
    <a routerLink="/login"
      ><button class="py-2 px-5 border-2 bg-red-300 hover:bg-red-400">
        LOGIN
      </button></a
    >
  </div>
</header>
