<div class="container">
  <div class="text-center mt-10">
    <h2 class="text-xl font-bold mb-4">Counter</h2>

    <button
      (click)="decrease()"
      class="bg-red-500 text-white p-2 rounded mr-4 hover:bg-red-600"
    >
      Decrease
    </button>

    <span class="text-lg">{{ count }}</span>

    <button
      (click)="increase()"
      class="bg-green-500 text-white p-2 rounded ml-4 hover:bg-green-600"
    >
      Increase
    </button>
  </div>
  <hr class="my-5" />
  <div>
    <h2 class="text-center text-xl font-bold mb-4">JsonPlaceHolder</h2>
    <div class="grid grid-cols-4 gap-4">
      <div
        *ngFor="let post of posts"
        class="lg:col-span-4 md:col-span-2 sm:col-span-3 border-2 border-indigo-500 rounded-md p-4"
      >
        <h3 class="font-bold">{{ post.title }}</h3>
        <p>{{ post.body }}</p>
      </div>
    </div>
  </div>
</div>
